button.getSchemaButton {
  background-color: #069;
  border: 1px solid #069;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 0.429em 1em 0.429em 1em;
}

button.getSchemaButton:hover {
  background-color: #004494;
  border: 1px solid #004494;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 0.429em 1em 0.429em 1em;
}