@import "tailwindcss";

@theme {
  /* Custom Colors */
  --color-primary: #47B3FF;
  --color-primary-dark: #0083E0;
  --color-primary-light: #A0D7FF;
  --color-secondary: #289588;
  --color-secondary-dark: #1a6b5f;
  --color-danger: #E56B38;
  --color-danger-light: #FFEDD8;
  --color-warning: #B83230;
  --color-orange: #E97C00;
  --color-orange-dark: #C76800;
  --color-purple: #9E84B6;
  --color-purple-dark: #5C3285;
  --color-purple-light: #EFEBF2;
  --color-purple-border: #BEADCE;
  --color-gray: #4C677F;
  --color-gray-light: #87A7C3;
  --color-gray-border: #dee2e6;
  --color-gray-bg: #f8f9fa;
  --color-gray-dark: #2E3E4C;
  --color-text: #333;
  --color-text-dark: #2E3E4C;
  --color-text-muted: #666;
  --color-text-light: #8B5E34;
  --color-success: #007B6C;
  --color-info: #003052;
  --color-blue: #006BB8;
  --color-blue-dark: #004B7F;
  --color-blue-light: #DAE8F4;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
